<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /kaushik_php/ci_project/car-rental/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
